@model UserInfo
@{
    ViewBag.Title = "Katılım Formu";
}
<h1 class="h4">Toplantı katılım formu</h1>
<form method="post" asp-controller="Meeting" asp-action="Apply" novalidate>
    <div asp-validation-summary="All"></div>
    <div class="mb-3 text-start">
        <label asp-for="Name" class="form-label">Adınız</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="mb-3 text-start">
        <label asp-for="Email" class="form-label">E-posta Adresiniz</label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3 text-start">
        <label asp-for="Phone" class="form-label">Telefon Numaranız</label>
        <input asp-for="Phone" class="form-control">
    </div>
    <div class="mb-3 text-start">
        <label asp-for="WillAttend" class="form-label">Katılım Durumu</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="">Seçiniz</option>
            <option value="true">Katılıyorum</option>
            <option value="false">Katılmıyorum</option>
        </select>
    </div>
    <div class="d-flex justify-content-start">
        <button class="btn btn-primary" type="submit">Başvuru Yap</button>
    </div>
</form>